.filter-select-small {
    min-width: 150px;
}

.filter-select-medium {
    min-width: 200px;
}

.btn-search-white {
    border-radius: 10px;
    background: white;
    color: var(--primary);
}

.table-container-70vh {
    max-height: 70vh;
}

.modal-content-rounded {
    border: 0;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
    border-radius: 20px;
    overflow: hidden;
}

.h-150px {
    height: 150px !important;
}