<button
  [type]="type()"
  [class]="variant()"
  [class.size-sm]="size() === 'sm'"
  [class.size-md]="size() === 'md'"
  [class.size-lg]="size() === 'lg'"
  [class.full-width]="fullWidth()"
  [class.loading]="loading()"
  [disabled]="disabled() || loading()"
  (click)="clicked.emit()"
>
  @if (loading()) {
    <span class="spinner"></span>
  }
  @if (icon() && !loading()) {
    <i class="material-icons icon">{{ icon() }}</i>
  }
  <span class="button-text">
    <ng-content></ng-content>
  </span>
</button>
