<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="red">
      <div class="row">
        <div class="col-sm-8">
          <h4 class="title">Liste journal d'accés</h4>
        </div>
        <div class="col-sm-4">
          <form class="navbar-form navbar-right" role="search" style="margin:0;">
            <div class="form-group  is-empty">
              <input type="text" class="form-control" name="search" [(ngModel)]="keyWord" placeholder="Rechercher..."
                style="margin:0;color:white;" />
              <span class="material-input"></span>
            </div>
            <button type="submit" class="btn btn-white btn-sm" title="Rechercher"
              style="margin: 0px; padding: 1px 5px; margin: 0px 0px 0px 0px;" (click)="searchAccess()"><i
                class="fa fa-search" style="font-size: 14px"></i>
              Rechercher</button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div class="table-responsive tableFixHead">
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th style="width: 25%;">Login</th>
          <th style="width: 25%;">Date</th>
          <th style="width: 20%;">Ip Address</th>
          <th style="width: 30%;">Naviagteur</th>
        </tr>
      </thead>
      <tbody style="font-size: 12px;">

        <tr *ngIf="loading">
          <td style="text-align: center" colspan="7">
            <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
          </td>
        </tr>

        <tr *ngFor="let access of accessLog">
          <td style="width: 25%;">{{access.login}}</td>
          <td style="width: 25%;">{{access.date | date:'dd-MM-yyyy HH:mm:ss'}}</td>
          <td style="width: 20%;">{{access.ipAddress}}</td>
          <td style="width: 30%;">{{access.agent}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-md-12 text-center">
  <pagination [hidden]="loading" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"
    class="pagination-sm" [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"
    (pageChanged)="pageChanged($event)" previousText="Précédent" nextText="Suivant" firstText="Premier"
    lastText="Dernier"></pagination>
</div>