.search-group {
    border-radius: 12px;
    overflow: hidden;
}

.search-input {
    min-width: 250px;
}

.btn-search {
    background: white;
    color: var(--primary);
}

.log-table-container {
    max-height: 70vh;
}

.col-user, .col-date, .col-ip {
    width: 20%;
}

.col-agent {
    width: 40%;
}