
<div class="col-md-12">
    <div class="card">
        <div class="card-header" data-background-color="red">
            <div class="row">
                <div class="col-sm-8">
                    <h4 class="title">Liste des comptes Web</h4>
                </div>
                <div class="col-sm-4">
                    <form class="navbar-form navbar-right" role="search" style="margin:0;">
                        <div class="form-group  is-empty">
                            <input type="text" class="form-control" name="search" [(ngModel)]="keyWord"
                                placeholder="Rechercher..." style="margin:0;color:white;" />
                            <span class="material-input"></span>
                        </div>
                        <button type="submit" class="btn btn-white btn-sm" title="Rechercher"
                            style="margin: 0px; padding: 1px 5px; margin: 0px 0px 0px 0px;"
                            (click)="searchWebAccount()"><i class="fa fa-search" style="font-size: 14px"></i>
                            Rechercher</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="table-responsive tableFixHead">
            <table class="table table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Login</th>
                        <th>Mot de passe</th>
                        <th>Créé à</th>
                        <th>Expiré le</th>
                        <th>Nom Prenom</th>
                        <th>Téléphone</th>
                        <th>Région</th>
                        <th>Type Client</th>
                        <th>Red E par jour</th>
                        <th>Red C par mois</th>
                        <th>Red E par mois</th>
                        <th>Red sim par mois</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody style="font-size: 12px;">

                    <tr *ngIf="loading">
                      <td style="text-align: center" colspan="23">
                        <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
                      </td>
                    </tr>

                    <tr *ngFor="let compteWeb of comptesWeb"
                        [routerLink]="['/adminWeb/configurations',compteWeb.idCompteClientWeb]" class="cl">
                        <td>{{compteWeb.idCompteClientWeb}}</td>
                        <td>{{compteWeb.login}}</td>
                        <td>{{compteWeb.rawPassword}}</td>
                        <td>{{compteWeb.date_creation | date:'dd-MM-yyyy'}}</td>
                        <td>{{compteWeb.date_expiration | date:'dd-MM-yyyy' }}
                            <span class="label label-success" *ngIf="compteWeb.during==true">During</span>
                            <span class="label label-danger" *ngIf="compteWeb.expired==true">Expired</span>
                        </td>
                        <td>{{compteWeb.firstname}}&nbsp;{{compteWeb.lastname}}</td>
                        <td>{{compteWeb.telephone}}</td>
                        <td>{{compteWeb.area}}</td>
                        <td>{{compteWeb.administratorCompte.username}}</td>
                        <td>{{compteWeb.deviceFeeByDay}}</td>
                        <td>{{compteWeb.accountFeeByMonth}}</td>
                        <td>{{compteWeb.deviceFeePerMonth}}</td>
                        <td>{{compteWeb.simCardFeePerMonth}}</td>
                        <td>
                            <button class="btn btn-info btn-xs"
                                style="padding: 0px 8px;font-size: 8px;margin: 1px 0px 0px 0px;"
                                [routerLink]="['/adminWeb/configurations',compteWeb.idCompteClientWeb]"
                                data-backdrop="false">
                                <i class="material-icons md-24"
                                    title="Configurer le compte Web">account_box</i></button>
                            <!---[tooltip]="tooltipcon"
                                tooltipPlacement="top"
                                <tooltip-content #tooltipcon>
                                Configurer le compte Web
                            </tooltip-content>-->
                            <button class="btn btn-danger btn-xs"
                                style="padding: 0px 8px;font-size: 8px;margin: 1px 0px 0px 0px;"
                                (click)="onSelect(compteWeb);deleteWebAccount();">
                                <i class="material-icons md-24"
                                    title=" Supprimer le compte Web">delete_forever</i></button>
                            <!--[tooltip]="tooltipdel"
                                tooltipPlacement="top"
                                <tooltip-content #tooltipdel>
                                Supprimer le compte Web
                            </tooltip-content>-->
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="col-md-12 text-center">
    <pagination [hidden]="loading" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"
        class="pagination-sm" [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"
        (pageChanged)="pageChanged($event)" previousText="Précédent" nextText="Suivant" firstText="Premier"
        lastText="Dernier"></pagination>
</div>
