<!--created by CHAIMA TABOUBI-->

<div class="content">

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="green">
                        <i class="material-icons">store</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Number of Device Used</p>
                        <h3 class="title">{{BOITIER_INSTALLED}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i> interval To {{intervalTo}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header" data-background-color="red">
                        <i class="material-icons">info_outline</i>
                    </div>
                    <div class="card-content">
                        <p class="category">Devices Available</p>
                        <h3 class="title">{{BOITIER_NOT_INSTALLED}}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> interval From {{intervalFrom}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Devices</h3>
                    </div>
                    <div class="panel-body">
                        <form class="form-inline">
                            <div class="form-group label-floating">
                                <label class="control-label">Number of Devices</label>
                                <input type="number" min=1 class="form-control" name="nbrBoitiers"
                                    [(ngModel)]="nbrBoitiers" required>
                            </div>

                            <button type="submit" class="btn btn-warning" (click)="addBoitiers()" title="add devices"><i
                                    class="material-icons md-36">note_add</i></button>
                            <button type="submit" class="btn btn-info" title="extend interval"
                                (click)="extendIntervalOfBoitiers()"><i
                                    class="material-icons md-36">extension</i></button>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
@if (mode) {
<div class="alert alert-danger" role="alert">
    {{messageError}}
</div>
}
<!-- table boitier details -->
<div>

    <div class="col-md-12">
        <form class="navbar-form navbar-right" role="search" style="margin:0;">
            <div class="form-group  is-empty">
                <input type="text" class="form-control" name="searchBoitier" [(ngModel)]="searchBoitier"
                    placeholder="Search" style="margin:0;">
                <span class="material-input"></span>
            </div>
            <button type="submit" class="btn btn-white btn-round btn-just-icon" style="margin:0;"
                (click)="searchBoitiers()">
                <i class="material-icons">search</i>
                <div class="ripple-container"></div>
            </button>
        </form>
        <div class="card">

            <div class="card-header" data-background-color="blue">
                <h4 class="title">List of Devices of Server Account number {{compteServer.idCompteClientServer}} with
                    login : {{compteServer.login}}
                    --- password : {{compteServer.password}}
                </h4>
            </div>
            <div class="card-content table-responsive">

                <table class="table">
                    <thead>
                        <th>Id</th>
                        <th>Label</th>
                        <th>Device</th>
                        <th>Emplacement</th>
                        <th>Last Trame</th>
                        <th>Vitesse</th>
                        <th>Stat</th>
                        <th>GPS Trame</th>
                        <th>GSM Trame</th>
                        <th>Configurations</th>
                    </thead>
                    <tbody>

                        @for (boitier of boitiers; track boitier.idBoitier) {
                        <tr>
                            <td>{{boitier.idBoitier}}</td>
                            <td>{{boitier.label}}</td>
                            <td><span class="label label-info">{{boitier.numBoitier}}</span></td>
                            <td>{{boitier.emplacement}} </td>
                            <td>{{boitier.dateLastTrame | date:'dd-MM-yyyy hh:mm'}}</td>
                            <td>{{boitier.vitesse}}</td>
                            <td>
                                @if (boitier.stat) {
                                <span class="label label-success">installed</span>
                                } @else {
                                <span class="label label-danger">not installed</span>
                                }
                            </td>
                            <td>{{boitier.gpsLastTrame}}</td>
                            <td>{{boitier.gsmLastTrame}}</td>
                        </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm"
            [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage" (pageChanged)="pageChanged($event)">
        </pagination>

    </div>


</div>


<!--start modal update boitier-->

<div id="ModalupdateBoitier" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">update Device id : {{selectedBoitier.idBoitier}}</h4>
            </div>
            <div class="modal-body">
                <div class="row">

                    <div class="col-md-6">
                        <div class="form-group label-floating">
                            <label class="control-label">Label</label>
                            <input type="text" class="form-control" value="" name="pseudo"
                                [(ngModel)]="selectedBoitier.label" required>
                        </div>
                    </div>


                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-warning" (click)="updateBoitier()"
                    data-dismiss="modal">update</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
            </div>
        </div>

    </div>
</div>

<!--end modal update compte boitier-->