<div class="col-md-12" [formGroup]="mainConfigForm">
  <div class="card">
    <div class="card-header" data-background-color="red">
      <h4 class="title">Configurer l'identifiant du compte web : {{compteWeb().idCompteClientWeb}}</h4>
    </div>
    <div class="card-content card-content-padding">
      <div class="row margin-top-0">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label" for="configLogin">Login</label>
            <input type="text" class="form-control" formControlName="login" id="configLogin">
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label" for="configPassword">Mot de passe</label>
            <input type="text" class="form-control" formControlName="password" id="configPassword">
          </div>
        </div>
      </div>

      <div class="row margin-top-0">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label" for="configCodePays">Code Pays</label>
            <select formControlName="code_pays" class="form-control" id="configCodePays">
              @for (codePays of codesPays(); track codePays.value) {
              <option [value]="codePays.value">
                {{codePays.key}} (+{{codePays.value}}) </option>
              }
            </select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group label-floating">
            <div class="input-group input-append date">
              <input type="text" class="form-control" bsDatepicker formControlName="date_expiration"
                [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY' }" placement="bottom" placeholder="Date expiration">
            </div>
          </div>
        </div>

      </div>
      <div class="row margin-top-0">
        <!--        <div class="col-md-6 ">-->
        <!--          <div class="form-group label-floating">-->
        <!--            <label class="control-label">Options</label>-->
        <!--            <input id="country" type="text" class="form-control" (click)="charge()" [(ngModel)]=query-->
        <!--                   (keyup)=filter()>-->
        <!--          </div>-->
        <!--          <div class="suggestions" *ngIf="filteredList.length > 0">-->
        <!--            <ul *ngFor="let item of filteredList" class="itemsSelect">-->
        <!--              <li>-->
        <!--                <a class="selectedItem" (click)="select(item)">{{item.description}}</a>-->
        <!--              </li>-->
        <!--            </ul>-->
        <!--          </div>-->
        <!--          <div *ngFor="let item of selected">-->
        <!--            <div class="btn btn-warning">-->
        <!--              <span>{{item.description}} &nbsp;</span>-->
        <!--              <a class="selected" (click)="remove(item)">&times;</a>-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->

        <div class="col-md-6">
          <div class="form-group margin-top-25">
            <label class="options-title" for="configOptions">Options</label>
            <ng-multiselect-dropdown [placeholder]="'Sélectionner des options'" [settings]="dropdownSettings()"
              [data]="options()" formControlName="options" id="configOptions">
            </ng-multiselect-dropdown>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group margin-top-25">
            <label class="options-title" for="configPool">Pool</label>
            <input type="number" min="0" max="4" formControlName="pool" class="form-control" id="configPool">
          </div>
        </div>
      </div>

      <div class="row">

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label" for="configFirstname">Nom</label>
            <input type="text" class="form-control" formControlName="firstname" id="configFirstname">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label" for="configLastname">Prénom</label>
            <input type="text" class="form-control" formControlName="lastname" id="configLastname">
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label" for="configEmail">Email</label>
            <input type="email" class="form-control" formControlName="email" id="configEmail">
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label" for="configTelephone">Téléphone</label>
            <input type="tel" class="form-control" formControlName="telephone" id="configTelephone">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group label-floating">
            <label class="control-label" for="configArea">Région</label>
            <select formControlName="area" class="form-control" id="configArea">
              @for (t of regions; track t) {
              <option [value]="t">{{ t }}</option>
              }
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label" for="configNotificationSubquery">Type de notification</label>
            <select formControlName="notificationSubquery" class="form-control" id="configNotificationSubquery">
              @for (notifSub of notifSubs; track notifSub) {
              <option [value]="notifSub">{{ notifSub }}</option>
              }
            </select>
          </div>
        </div>
        <div class="col-md-3">
          <div class="form-group label-floating">
            <label class="control-label" for="configMobileNotif">Notification Mobile</label>
            <input type="checkbox" formControlName="mobileNotif" id="configMobileNotif">
          </div>
        </div>

      </div>
      <div class="row">
        <!-- ID Compte Serveur removed -->
      </div>
      <button type="button" class="btn btn-success btn-sm pull-right" (click)="saveChange()"><i class="fa fa-check"></i>
        sauvegarder les
        modifications</button>

      <div class="row">
        <div class="col-md-12">
          <table class="table table-condensed table-bordered">
            <thead>
              <tr>
                <th class="danger text-center-bold" colspan="6">Compte
                  serveur associé</th>
              </tr>
              <tr class="table-header-gradient">
                <th>Id</th>
                <th>Pseudo</th>
                <th>IP address</th>
                <th>Créé à</th>
                <th>Expiré le</th>
                <th>Configurations</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{serverAccount().idCompteClientServer}}</td>
                <td>{{serverAccount().pseudo}}</td>
                <td>{{serverAccount().ipAdresse}}</td>
                <td>{{serverAccount().date_creation | date:'dd-MM-yyyy'}}</td>
                <td>{{serverAccount().date_Expiration | date:'dd-MM-yyyy'}}
                  @if (serverAccount().during) {
                  <span class="label label-success">Active</span>
                  }
                  @if (serverAccount().expired) {
                  <span class="label label-danger">Expiré</span>
                  }
                </td>
                <td>
                  <!--<span class="label label-warning btn clear change" [tooltip]="tooltipup" tooltipPlacement="left" data-backdrop="false" data-toggle="modal"
            data-target="#Modalupdateserver">
            <i class="glyphicon glyphicon-refresh"></i> change</span>-->
                  <button type="button" class="labell label-success btn"
                    (click)="prepareDB(serverAccount().idCompteClientServer)">
                    <i class="fa fa-database"></i> préparer BDD</button>
                  <button type="button" class="labelle label-primary btn"
                    (click)="showDevises(serverAccount().idCompteClientServer)">
                    <i class="fa fa-mobile"></i> Boitiers</button>
                </td>
              </tr>

            </tbody>
          </table>
        </div>
      </div>
      @if (boitiersClicked() === true) {
      <div class="row">
        <div class="col-md-12 tableFixHead margin-bottom-20">
          <div class="col-md-12 bg-soft-red-center">
            <span class="font-bold">Boitiers ({{boitiers().length}})</span>
            @if (getNumberOfBoitiersNotInstall() > 0) {
            <span class="text-warning font-bold">
              {{getNumberOfBoitiersNotInstall()}} non
              installé</span>
            }
          </div>
          <table class="table table-condensed table-hover table-bordered">
            <thead>
              <tr>
                <th scope="col" class="text-center">
                   <input type="checkbox" name="optionsCheckboxes" (change)="onCheckedAllBoitiers()"
                    [checked]="boitiers.length === selectedBoitiersIds.length && boitiers.length > 0"
                    title="Select all boitiers" placeholder="Select all">
                </th>
                <th>Numéro</th>
                <th>Etat</th>
                <th>Configurations</th>
              </tr>
            </thead>
            <tbody>
              @for (boitier of boitiers(); track boitier.idBoitier) {
              <tr>
                <td>
                   <input type="checkbox" name="optionsCheckboxes" (change)="onCheckedBoitier(boitier.numBoitier)"
                    [checked]="isCheckedBoitier(boitier.numBoitier)" title="Select boitier" placeholder="Select">
                </td>
                <td>{{boitier.numBoitier}}</td>
                <td>
                  @if (boitier.etatBoitier==='INSTALLED') {
                  <span class="label label-success">Installé</span>
                  } @else {
                  <span class="label label-danger">Non installé</span>
                  }
                </td>
                <td>
                  @if (boitier.etatBoitier==='INSTALLED') {
                   <button type="button" class="btn btn-success pull-right config-btn" (click)="editBoitier(boitier)">
                    <i class="material-icons">
                      settings
                    </i> Configurer</button>
                  } @else {
                  <button type="button" class="btn btn-success pull-right"
                    (click)="prepareDBForSingleDevice(boitier.idBoitier)">
                    <i class="material-icons">
                      build
                    </i> Preparer BDD</button>
                  }
                </td>
              </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      }
      <div class="clearfix"></div>
    </div>
  </div>
</div>


<!--start modal update server account of web account-->

<div id="Modalupdateserver" class="modal fade" role="dialog">
  <div class="modal-dialog modal-sm">
    <div [formGroup]="mainConfigForm">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Change Server Account for
            <span class="label label-info">{{compteWeb().login}}</span>
          </h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
              <div class="form-group label-floating">
                <div class="input-group input-append date">
                  <label class="control-label" for="serverAccount">Server Account</label>
                  <select class="form-control" name="server" required id="serverAccount">
                    @for (server of serverAccounts(); track server.idCompteClientServer) {
                    <option [value]="server.idCompteClientServer">{{server.pseudo}} </option>
                    }
                  </select>
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>

        </div>
        <!--<div class="modal-footer">
          <button type="button" class="btn btn-warning" [hidden]="!ChangeServerForm.form.valid"
          (click)="ChangeServerAccount()" data-dismiss="modal">update</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        </div>-->
      </div>
    </div>
  </div>
</div>

<!--end modal update compte web-->

<!-- Modal INITIALIZE DATABASE-->
@if (showConfigModal()) {
<div class="modal-backdrop fade-in modal-backdrop-custom"
  (click)="closeConfigModal()" (keydown.enter)="closeConfigModal()" tabindex="0" role="button" aria-label="Close configuration modal"></div>
<div class="modal fade-in modal-custom" id="ModalConfig" role="dialog">
  <div class="modal-dialog modal-dialog-custom">
    <!-- Modal content-->
    <div class="modal-content">

      <form [formGroup]="recalculateForm">
        <div class="modal-header">
          <button type="button" class="close modal-dialog-small-margin"
            (click)="closeConfigModal()">&times;</button>
          <div class="header-accent-red">
            <h4 class="title">Recalcule du boitier : {{selectedBoitierId()}}</h4>
          </div>
        </div>
        <div class="modal-body">

          @if (selectedBoitiersIds().length > 0) {
          <div class="row margin-top-0">
            <div class="col-md-12 p-10-border-btm">
              <div class="font-bold">Appliquer aux : </div>
              <div class="overflow-x-auto">
                @for (idBoitier of selectedBoitiersIds(); track idBoitier) {
                <span class="label label-info margin-left-5">{{idBoitier}}</span>
                }
              </div>
            </div>
          </div>
          }
          <div class="row margin-top-0">
            <div class="col-md-6">
              <div class="form-group label-floating">

                @if (dateBoolean) {
                <div class="input-group input-append date">
                  <input type="text" class="form-control" bsDatepicker formControlName="datestart" [maxDate]="maxDate"
                    [bsConfig]="{ dateInputFormat: 'DD-MM-YYYY, HH:mm' }" placement="bottom" placeholder="Date de début"
                    autocomplete="off">
                </div>
                }
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group label-floating">
                <label class="control-label" for="typeRecalcule">Type de recalcule</label>
                <select formControlName="typeRecalcule" class="form-control" id="typeRecalcule">
                  <option>recalcule trajet</option>
                  <option>recalcule boitier</option>
                  <option>recalcule carburant</option>
                  <option>recalcule alert</option>
                  <option>recalcule Temps reel</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success btn-sm" [disabled]="recalculateForm.invalid"
            (click)="recalculate()">
            @if (!loadingRecalculate()) {
            <i class="fa fa-retweet"></i>
            }
            @if (loadingRecalculate()) {
            <i class="fa fa-spinner fa-spin"></i>
            }
            Recalculer
          </button>
        </div>
      </form>
      <div class="modal-header">
        <span class="modal-title">
          @if (loadingRecalculate()) {
          <i class="fa fa-spinner fa-spin"></i>
          }
          Notifications</span>
        @if (notifications().length > 0 && !loadingRecalculate()) {
        <span class="font-size-12-bold">
          @if (getNumberOfNotificationErrors() > 0) {
          <span class="text-danger"><i class="fa fa-exclamation-circle"></i> {{getNumberOfNotificationErrors()}} erreurs
            trouvé</span>
          }
          @if (getNumberOfNotificationErrors() === 0) {
          <span class="text-success"><i class="fa fa-check"></i> bien recalculé</span>
          }
        </span>
        }
      </div>
      <div class="modal-body">
        <div class="text-center-nomargin">
          <h6 class="notification-box">
            @for (notification of notifications(); track $index) {
            <span [ngClass]="{'text-danger': !notification.status}">
              @if (notification.status) {
              <i class="fa fa-check-circle text-success"></i>
              } @else {
              <i class="fa fa-exclamation-circle"></i>
              }
              {{$index + 1}}__{{notification.value}}
            </span>
            }
          </h6>

        </div>
        <div class="row">
          <div class="col-md-4">
            <form [formGroup]="deviceOptForm">
              <div class="modal-header">
                <span class="modal-title">Options de configuration de boitier</span>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-md-6">
                    <span>ignition</span>
                    <input class="pull-right" type="checkbox" formControlName="useIgnition" title="Ignition" placeholder="Ignition" />
                  </div>
                  <div class="col-md-6">
                    <span>fuel</span>
                    <input class="pull-right" type="checkbox" formControlName="useFuel" title="Fuel" placeholder="Fuel" />
                  </div>
                  <div class="col-md-6">
                    <span>temp</span>
                    <input class="pull-right" type="checkbox" formControlName="useTemp" title="Temp" placeholder="Temp" />
                  </div>
                  <div class="col-md-6">
                    <span>fms</span>
                    <input class="pull-right" type="checkbox" formControlName="useFms" title="FMS" placeholder="FMS" />
                  </div>

                  <div class="col-md-6">
                    <span>j1708</span>
                    <input class="pull-right" type="checkbox" formControlName="useJ1708" title="J1708" placeholder="J1708" />
                  </div>
                  <div class="col-md-6">
                    <span>id driver</span>
                    <input class="pull-right" type="checkbox" formControlName="useIdDriver" title="Driver ID" placeholder="Driver ID" />
                  </div>
                  <div class="col-md-6">
                    <span>stop</span>
                    <input class="pull-right" type="checkbox" formControlName="useStop" title="Stop" placeholder="Stop" />
                  </div>
                </div>
              </div>
            </form>
          </div>

          <div class="col-md-8">
            <form [formGroup]="pathConfigForm">
              <div class="modal-header">
                <span class="modal-title">Configurations de base de données</span>
              </div>
              <div class="modal-body">
                <div class="row margin-top-0">
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label" for="pathMinSec">Path Minimun (sec)</label>
                      <select class="form-control" formControlName="pathMinSec" id="pathMinSec">
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                        <option value="120">120</option>
                        <option value="150">150</option>
                        <option value="180">180</option>
                        <option value="210">210</option>
                        <option value="240">240</option>
                        <option value="270">270</option>
                        <option value="300">300</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group label-floating">
                      <label class="control-label" for="stopMinSec">Stop Minimun (sec)</label>
                      <select class="form-control" formControlName="stopMinSec" id="stopMinSec">
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                        <option value="120">120</option>
                        <option value="150">150</option>
                        <option value="180">180</option>
                        <option value="210">210</option>
                        <option value="240">240</option>
                        <option value="270">270</option>
                        <option value="300">300</option>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row margin-top-0">
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label" for="pauseMinSec">Pause Minimun (sec)</label>
                      <select class="form-control" formControlName="pauseMinSec" id="pauseMinSec">
                        <option value="30">30</option>
                        <option value="60">60</option>
                        <option value="90">90</option>
                        <option value="120">120</option>
                        <option value="150">150</option>
                        <option value="180">180</option>
                        <option value="210">210</option>
                        <option value="240">240</option>
                        <option value="270">270</option>
                        <option value="300">300</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label" for="distanceMinMeter">distance Minimun (m)</label>
                      <select class="form-control" formControlName="distanceMinMeter" id="distanceMinMeter">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="100">100</option>
                        <option value="300">300</option>
                        <option value="500">500</option>
                        <option value="1000">1000</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group label-floating">
                      <label class="control-label" for="pathMinSpeed">Speed Minimun (km/h)</label>
                      <select class="form-control" formControlName="pathMinSpeed" id="pathMinSpeed">
                        <option value="1">1</option>
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                      </select>
                    </div>
                  </div>
                </div>

              </div>
            </form>

          </div>

        </div>

        <div class="row">
          <div class="col-md-12">
            <div [formGroup]="deviceOptForm">
              <div class="modal-header">
                <span class="modal-title">Coordonnées de boitier</span>
              </div>
              <div class="col-md-4">
                <span>SIM</span>
              </div>
              <div class="col-md-6">
                <input class="pull-right" type="number" readonly [value]="selectedBoitierId()" title="Boitier ID" placeholder="Boitier ID" />
              </div>
            </div>
          </div>
        </div>

        <div class="row margin-top-0">
          <div class="col-md-4">
            <button type="button" class="btn btn-success btn-sm pull-left" [disabled]="deviceOptForm.invalid"
              (click)="editDeviceOptionConfig()">
              @if (!loadingEditDeviceOption()) {
              <i class="fa fa-check"></i>
              }
              @if (loadingEditDeviceOption()) {
              <i class="fa fa-spinner fa-spin"></i>
              }
              Modifier les options</button>
          </div>
          <div class="col-md-2">
            <button type="button" class="btn btn-success btn-sm pull-right" (click)="resetOdometre()">
              @if (!loadingResetOdometre()) {
              <i class="fa fa-check"></i>
              }
              @if (loadingResetOdometre()) {
              <i class="fa fa-spinner fa-spin"></i>
              }
              Reset Kilometrage
            </button>
          </div>
          <div class="col-md-6">
            <button type="button" class="btn btn-default btn-sm pull-right" (click)="closeConfigModal()"><i
                class="fa fa-times"></i> Annuler</button>
            <button type="button" class="btn btn-success btn-sm pull-right" [disabled]="pathConfigForm.invalid"
              (click)="editPathConfig()">
              @if (!loadingEditPathConfig()) {
              <i class="fa fa-check"></i>
              }
              @if (loadingEditPathConfig()) {
              <i class="fa fa-spinner fa-spin"></i>
              }
              Initialiser</button>
          </div>
        </div>


        <!-- device setting config-->
        <div class="row margin-top-0">
          <div class="col-md-3" [formGroup]="deviceSettingForm">
            <div class="form-group label-floating">
              <label class="control-label" for="rawstreamId">Rawstream Id</label>
              <select class="form-control" formControlName="idIpAdresse" id="rawstreamId">
                @for (ip of ipAddresses(); track ip.idIpAdresse) {
                <option [ngValue]="ip.idIpAdresse">{{ip.label}}</option>
                }
              </select>
            </div>
          </div>
          <div class="col-md-3" [formGroup]="deviceSettingForm">
            <div class="form-group label-floating">
              <label class="control-label" for="streamId">Stream Id</label>
              <input type="number" class="form-control" formControlName="streamId" id="streamId">
            </div>
          </div>
          <form class="navbar-form navbar-right navbar-form-nomargin" role="search" [formGroup]="imeiSearchForm">
            <div class="form-group is-empty">
              <input type="text" class="form-control" formControlName="imei" placeholder="Rechercher Imei..." />
              <span class="material-input"></span>
            </div>
            <button type="submit" class="btn btn-white btn-sm imei-search-button" title="Rechercher"
              (click)="getSearchDeviceIemi(imeiSearchForm.get('imei')?.value)"><i class="fa fa-search font-size-14"></i>
              Rechercher Imei</button>
          </form>
        </div>
        <!-- end device setting config-->

        <div class="row margin-top-0">
          <div class="col-md-6">
            <button type="button" class="btn btn-success btn-sm pull-right" (click)="editDeviceSetting()">
              @if (!loadingDeviceSetting()) {
              <i class="fa fa-check"></i>
              }
              @if (loadingDeviceSetting()) {
              <i class="fa fa-spinner fa-spin"></i>
              }
              Modifier les paramétres boitier</button>
          </div>
        </div>

      </div>

    </div>

  </div>
</div>
}