<div class="charts-container">
  <div class="chart-card">
    <h3>{{ 'GLOBAL_DASHBOARD.VEHICLE_STATUS' | translate }}</h3>
    <div class="chart-wrapper">
      <canvas #statusChart></canvas>
    </div>
  </div>
  <div class="chart-card">
    <h3>{{ 'GLOBAL_DASHBOARD.SPEED_DISTRIBUTION' | translate }}</h3>
    <div class="chart-wrapper">
      <canvas #speedChart></canvas>
    </div>
  </div>
  <div class="chart-card">
    <h3>{{ 'GLOBAL_DASHBOARD.SIM_PROVIDERS' | translate }}</h3>
    <div class="chart-wrapper">
      <canvas #puceChart></canvas>
    </div>
  </div>
  <div class="chart-card">
    <h3>{{ 'GLOBAL_DASHBOARD.SIGNAL_QUALITY' | translate }}</h3>
    <div class="chart-wrapper">
      <canvas #signalChart></canvas>
    </div>
  </div>
  <div class="chart-card health-score-card">
    <h3>{{ 'GLOBAL_DASHBOARD.FLEET_HEALTH' | translate }}</h3>
    <div class="chart-wrapper gauge-wrapper">
      <canvas #healthChart></canvas>
      <div class="gauge-center-text">
        <span class="gauge-value">{{ healthScore() }}%</span>
        <span class="gauge-label">{{ 'GLOBAL_DASHBOARD.HEALTH_STATUS' | translate }}</span>
      </div>
    </div>
  </div>
</div>
