<h3 style="margin:0;">Archive and Raw of Device
  <button class="btn btn-default" (click)="back()">back</button>
  <span class="label label-success">{{numBoitier}}</span>
  <div class="navbar-form navbar-right" style="margin:0;">
    <div class="form-group is-empty" [formGroup]="archiveForm">
      <label class="control-label" for="limit">Nbr:
        <input type="number" id="limit" class="form-control" formControlName="limit" placeholder="Limit"
          style="margin:0;">
        <span class="material-input"></span>
      </label>
    </div>
    <button type="button" class="btn btn-success" (click)="getArchives()">Afficher</button>
  </div>
</h3>


<tabset #staticTabs>
  <tab heading="Archive of Device">
    <div class="card-content table-responsive">

      <table class="table table-hover table-striped">
        <thead style="font-size: 12px;">
          <th>Date</th>
          <th>Trame</th>
          <th>Latitude</th>
          <th>Longitude</th>
          <th>Speed</th>
          <th>temp</th>
          <th>X</th>
          <th>Y</th>
          <th>Z</th>
          <th>Ignition</th>
          <th>RPM</th>
          <th>Fuel Rate</th>
          <th>Tfu</th>
          <th>Odometre</th>
          <th>satInView</th>
          <th>Signal</th>
          <th>Heading</th>
          <th>Charger</th>
        </thead>
        <tbody>
          @for (archive of archives; track $index) {
          <tr>
            <td style="font-size: 12px;">{{archive.date}}</td>

            <td><span class="label label-warning">{{archive.trame_id}}</span></td>

            <td>{{archive.latitude}}</td>

            <td>{{archive.longitude}}</td>
            <td>
              @if (archive.ignition) {
              <span class="label label-success">On</span>
              } @else {
              <span class="label label-danger">Off</span>
              }
            </td>
            <td>{{archive.speed}}</td>

            <td>{{archive.temp}}</td>
            s
            <td>{{archive.x}}</td>

            <td>{{archive.y}}</td>

            <td>{{archive.z}}</td>



            <td>{{archive.rpm}}</td>

            <td>{{archive.fuel_rate}}</td>

            <td>{{archive.tfu}}</td>

            <td>{{archive.odo}}</td>

            <td>{{archive.satInView}}</td>

            <td>{{archive.signal}}</td>

            <td>{{archive.heading}}</td>

            <td>{{archive.charger}}</td>

          </tr>
          }
        </tbody>
      </table>
    </div>
  </tab>
  <tab (select)="getAllRaws()" heading="Raw of Device">
    <div class="card-content table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ID</th>
            <th>GPRMC</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td colspan="2">$count: {{raws.count}}</td>
          </tr>
          @for (raw of raws.raws; track raw.idTram) {
          <tr>
            <td>{{raw.idTram}}</td>
            <td class="table table-bordered table-condensed ecriture">{{raw.gprmc}}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </tab>
</tabset>