/*created by AHMED HAYEL*/

table tbody {
  background-color: white;
}
table thead {
  background-color: #e9423e;
  color: white;
}

th {
  text-align: center;
}

.sidebar {
  display: none !important;
}
.main-panel {
  width: 100% !important;
}
.ecriture {
  font-size: 12px;
}

.page-title {
  margin: 0;
}

.navbar-right-container {
  margin: 0;
}

.limit-input {
  margin: 0 !important;
}

.thead-small {
  font-size: 12px;
}

.td-small {
  font-size: 12px;
}
