/*created by AHMED HAYEL*/

.limit-input-group {
    width: 150px;
}

.btn-refresh-archive {
    border-radius: 10px;
    background: white;
    color: var(--primary);
}

.table-container-70vh {
    max-height: 70vh;
}

.col-id-small {
    width: 100px;
}

table tbody {
  background-color: white;
}
table thead {
  background-color: #e9423e;
  color: white;
}

th {
  text-align: center;
}

.sidebar {
  display: none !important;
}
.main-panel {
  width: 100% !important;
}
.ecriture {
  font-size: 12px;
}

.page-title {
  margin: 0;
}

.navbar-right-container {
  margin: 0;
}

.limit-input {
  margin: 0 !important;
}

.thead-small {
  font-size: 12px;
}

.td-small {
  font-size: 12px;
}
