/* created by AHMED HAYEL */
.cl{
    cursor:pointer;
}
  
  .form-group {
    padding-bottom: 0px;
    margin: 0px 0 0 0;
  }
  
  .title{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 24px;
    padding-top: 2px;
  }
  
  .card .card-header{
    border-radius: 3px;
    padding: 0px 15px 0px 20px;
  }
  
  .card {
    margin: 32px 0 0 0;
  }
  
  .tableFixHead table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
  padding: 0px 8px;
  vertical-align: middle;
}
