<div class="main-panel p-4">

  <div class="premium-card mb-4 header-gradient">

    <div class="d-flex justify-content-between align-items-center">

      <div class="text-white">

        <h2>
          Recalcul des Données
        </h2>

        <p class="opacity-75">

          {{compteWeb.login}}

        </p>

      </div>

      <button
        class="btn btn-glass"
        [routerLink]="[
'/adminWeb/configurations',
compteWeb.idCompteClientWeb
]">

        <i class="fa fa-arrow-left"></i>

      </button>

    </div>

  </div>


  <div class="row justify-content-center">

    <div class="col-lg-8">

      <div class="premium-card p-4">

        <form
          [formGroup]="recalculForm">

          <div class="row g-4">

            <div class="col-md-6">

              <div class="form-group">

                <label
                  for="dateStart"
                  class="form-label">

                  <i class="fa fa-calendar-alt"></i>
                  Date de début

                </label>

                <p-datepicker
                  id="dateStart"
                  inputId="dateStart"
                  formControlName="datestart"
                  dateFormat="dd-mm-yy"
                  [showIcon]="true"
                  appendTo="body"
                  styleClass="premium-calendar">

                </p-datepicker>

              </div>

            </div>


            <div class="col-md-6">

              <div class="form-group">

                <label
                  for="recalcType"
                  class="form-label">

                  <i class="fa fa-tasks"></i>

                  Nature du recalcul

                </label>

                <select
                  id="recalcType"
                  formControlName="typeRecalcule"
                  class="form-select">

                  <option value="">
                    Choisir...
                  </option>

                  <option>
                    recalcule historique
                  </option>

                  <option>
                    recalcule carburant
                  </option>

                  <option>
                    recalcule alert
                  </option>

                  <option>
                    recalcule boitier
                  </option>

                </select>

              </div>

            </div>

          </div>


          <div
            class="alert recalcul-note mt-4">

            <h6>

              <i class="fa fa-info-circle">

              </i>

              Information

            </h6>

            <p>

              Le recalcul peut prendre plusieurs minutes.

            </p>

          </div>


          <div
            class="d-flex justify-content-end">

            <button
              type="button"
              class="btn btn-launch-recalcul"
              [disabled]="!recalculForm.valid"
              (click)="recalcule()">

              Lancer le recalcul

            </button>

          </div>

        </form>

      </div>

    </div>

  </div>



  <dialog
    #notificationModal
    id="notificationModal">

    <div
      class="notification-container">

      <div
        class="notification-header">

        <i
          class="fa fa-bell">

        </i>

        <h4>

          Notifications

        </h4>

      </div>


      <div
        class="notification-body">

        @if(notifications.length===0){

          <div
            class="text-center">

            <i
              class="fa fa-spinner fa-spin">

            </i>

            <p>
              En attente...
            </p>

          </div>

        }

        @for(
          item of notifications;
          track $index
          ){

          <div
            class="notification-item">

            {{item}}

          </div>

        }

      </div>


      <div
        class="notification-footer">

        <button
          class="btn-understand"
          (click)="reinitialisation()">

          Fermer

        </button>

      </div>

    </div>

  </dialog>

</div>
