<div class="container-fluid">

  <div class="row">
    <div class="col-md-6 center">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Add New Ip Address</h4>
          <p class="category">Complete this Form</p>
        </div>
        <div class="card-content">
          <form [formGroup]="ipForm">
            <div class="row">

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="ipLabel">Label</label>
                  <input type="text" formControlName="label" class="form-control" id="ipLabel">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="ipValue">Value</label>
                  <input type="text" formControlName="value" class="form-control" id="ipValue">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="jdbcUser">Pseudo</label>
                  <input type="text" formControlName="jdbcUser" class="form-control" id="jdbcUser">
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="jdbcPass">Password</label>
                  <input type="password" formControlName="jdbcPass" class="form-control" id="jdbcPass">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group label-floating">
                  <label class="control-label" for="ipUrl">URL</label>
                  <input type="text" formControlName="url" class="form-control" id="ipUrl">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4">
                <div class="form-group label-floating">
                  <label class="control-label" for="typeConnection">Type de Connection</label>
                  <select formControlName="typeConnection" class="form-control" id="typeConnection">
                    @for (type of typeConnection; track type.type) {
                    <option [value]="type.type"> {{type.type}} </option>
                    }
                  </select>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group label-floating">
                  <label class="control-label" for="dbName">Data Base Name</label>
                  <input type="text" formControlName="dbName" class="form-control" id="dbName">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">

              </div>
              <button type="button" class="btn btn-info pull-right" [disabled]="ipForm.invalid"
                (click)="saveIpAddres()">Save Ip Address</button>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>