@if (isLoading()) {
  @if (overlay()) {
    <div class="loading-overlay">
      <div class="loading-spinner">
        <div class="spinner" [class.size-small]="size() === 'small'" [class.size-large]="size() === 'large'"></div>
        @if (message()) {
          <p class="loading-message">{{ message() }}</p>
        }
      </div>
    </div>
  } @else {
    <div class="loading-spinner-inline">
      <div class="spinner" [class.size-small]="size() === 'small'" [class.size-large]="size() === 'large'"></div>
      @if (message()) {
        <p class="loading-message-inline">{{ message() }}</p>
      }
    </div>
  }
}
