/* created by AHMED HAYEL */

.cl {
  cursor: pointer;
}

.form-group {
  padding-bottom: 0;
  margin: 0;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 24px;
  padding-top: 2px;
}

.card {
  margin: 32px 0 0 0;

  & .card-header {
    border-radius: 3px;
    padding: 0 15px 0 20px;
  }
}

.tableFixHead table,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  padding: 0 8px;
  vertical-align: middle;
}
