<!--created by CHAIMA TABOUBI-->

<div class="container-fluid">
  @if (mode) {
  <div class="alert alert-danger" role="alert">
    {{messageError}}
  </div>
  }
  <div class="row">
    <div class="center">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Add Admin Account</h4>
          <p class="category">Complete this Form</p>
        </div>
        <div class="card-content">
          <form [formGroup]="adminForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">username</label>
                  <input type="text" class="form-control" formControlName="username">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Password</label>
                  <input type="text" class="form-control" formControlName="password">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Role</label>
                  <select formControlName="role" class="form-control">
                    @for (r of roles; track r) {
                    <option [value]="r">{{ r }}</option>
                    }
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Id Traccar</label>
                  <input type="number" class="form-control" formControlName="idTraccar">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Use Fcm</label>
                  <input type="checkbox" formControlName="useFcm">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Fcm Prefix</label>
                  <input type="text" class="form-control" formControlName="fcmPrefix">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Mail Support</label>
                  <input type="text" class="form-control" formControlName="mailSupport">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Device Cost By Day</label>
                  <input type="text" class="form-control" formControlName="deviceCostByDay">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">AccountFreePerMonth</label>
                  <input type="number" class="form-control" formControlName="accountFreePerMonth">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label">Transction Fee</label>
                  <input type="text" class="form-control" formControlName="transctionFee">
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-danger pull-right" [disabled]="adminForm.invalid"
              (click)="addAdminCompte()">Enregistrer le admin compte</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>