<!--created by CHAIMA TABOUBI-->

<div class="container-fluid">
  @if (mode) {
  <div class="alert alert-danger" role="alert">
    {{messageError}}
  </div>
  }
  <div class="row">
    <div class="center">
      <div class="card">
        <div class="card-header" data-background-color="blue">
          <h4 class="title">Add Admin Account</h4>
          <p class="category">Complete this Form</p>
        </div>
        <div class="card-content">
          <form [formGroup]="adminForm">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="username">username</label>
                  <input type="text" class="form-control" formControlName="username" id="username">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="password">Password</label>
                  <input type="text" class="form-control" formControlName="password" id="password">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="role">Role</label>
                  <select formControlName="role" class="form-control" id="role">
                    @for (r of roles; track r) {
                    <option [value]="r">{{ r }}</option>
                    }
                  </select>
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="idTraccar">Id Traccar</label>
                  <input type="number" class="form-control" formControlName="idTraccar" id="idTraccar">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="useFcm">Use Fcm</label>
                  <input type="checkbox" formControlName="useFcm" id="useFcm">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="fcmPrefix">Fcm Prefix</label>
                  <input type="text" class="form-control" formControlName="fcmPrefix" id="fcmPrefix">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="mailSupport">Mail Support</label>
                  <input type="text" class="form-control" formControlName="mailSupport" id="mailSupport">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="deviceCostByDay">Device Cost By Day</label>
                  <input type="text" class="form-control" formControlName="deviceCostByDay" id="deviceCostByDay">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="accountFreePerMonth">AccountFreePerMonth</label>
                  <input type="number" class="form-control" formControlName="accountFreePerMonth"
                    id="accountFreePerMonth">
                </div>
              </div>

              <div class="col-md-6">
                <div class="form-group label-floating">
                  <label class="control-label" for="transctionFee">Transction Fee</label>
                  <input type="text" class="form-control" formControlName="transctionFee" id="transctionFee">
                </div>
              </div>
            </div>

            <button type="button" class="btn btn-danger pull-right" [disabled]="adminForm.invalid"
              (click)="addAdminCompte()">Enregistrer le admin compte</button>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>