<div class="col-md-12">
  <div class="card">
    <div class="card-header" data-background-color="red">


      <div class="row">
        <div class="col-sm-9">
          <h4 class="title">Les interventions :</h4>
        </div>
        <div class="col-sm-3">
          <form role="search" style="margin-top:3px;">
            <div class="is-empty">
              <span class="control-label" for="compteserver" style="color:#fff1f3;">Etat</span>
              <select [(ngModel)]='selectedState' class="formulaire" name="type" (change)='onSelectState()'>
                @for (state of states; track state.name) {
                <option [value]="state.name">{{state.label}}</option>
                }
              </select>
            </div>
          </form>
        </div>
      </div>

    </div>
    <div class="table-responsive tableFixHead">
      <table class="table table-bordered table-hover table-sm">
        <thead>
          <tr>
            <th>Boitier </th>
            <th>Matricule</th>
            <th>Marque</th>
            <th>Chauffeur</th>
            <th>Technicien</th>
            <th>Ajouté le</th>
            <th>Traité </th>
            <th>Traité le</th>
            <th></th>
          </tr>
        </thead>
        <tbody style="font-size: 12px;">

          @if (loading) {
          <tr>
            <td style="text-align: center" colspan="9">
              <i class="fa fa-spinner fa-spin fa-3x fa-fw"></i>
            </td>
          </tr>
          }

          @for (vehiculeInfo of vehiculeInfosFiltered; track vehiculeInfo.deviceId) {
          <tr>
            <td>{{vehiculeInfo.deviceId}}</td>
            <td>{{vehiculeInfo.matricule}}</td>
            <td>{{vehiculeInfo.mark}} </td>
            <td>
              {{vehiculeInfo.driver}}
            </td>
            <td>
              {{vehiculeInfo.technician}}
            </td>
            <td>
              {{vehiculeInfo.createdAt | date:'dd-MM-yyyy'}}
            </td>
            <td>
              @if (vehiculeInfo.verified) {
              <span class="label label-success">
                Traité
              </span>
              } @else {
              <span data-toggle="tooltip" class="label label-danger">
                non traité
              </span>
              }
            </td>
            <td>
              {{vehiculeInfo.verifiedAt | date:'dd-MM-yyyy'}}
            </td>
            <td>
              <button class="btn btn-info btn-xs" style="padding: 0px 8px;font-size: 8px;margin: 1px 0px 0px 0px;"
                [tooltip]="'Modifier'" Placement="top" (click)='updateIntervention(vehiculeInfo)'> <i class="fa fa-edit"
                  aria-hidden="true"></i>
              </button>
            </td>

          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>
</div>
<div>
</div>
<div class="col-md-12 text-center">
  <pagination [hidden]="loading" [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize"
    class="pagination-sm" [boundaryLinks]="true" [rotate]="false" [itemsPerPage]="itemsPerPage"
    (pageChanged)="pageChanged($event)" previousText="Précédent" nextText="Suivant" firstText="Premier"
    lastText="Dernier"></pagination>
</div>